{% extends 'diary/base.html' %}

{% block content %}
<h2>Категория: {{ category.name }}</h2>
<a style="text-decoration: none; color: white; background-color: darkgrey; padding: 6px; border-radius: 12px;"
    href="{% url 'task_create' %}?category={{ category.id }}">Добавить задачу</a>
<ul>
    {% for task in tasks %}
    <li style="height: 50px;">
        {% if task.is_completed %}
        <s>{{ task.title }}</s>
        {% else %}
        {{ task.title }}
        {% endif %}
        - <a style="text-decoration: none; color: white; background-color: darkgrey; padding: 6px; border-radius: 12px;"
            href="{% url 'task_edit' task.pk %}">Редактировать</a>
        - <a style="text-decoration: none; color: white; background-color: darkgrey; padding: 6px; border-radius: 12px;"
            href="{% url 'task_complete' task.pk %}">Отметить как выполненную</a>
    </li>
    {% empty %}
    <li>Задачи отсутствуют.</li>
    {% endfor %}
</ul>
{% endblock %}